<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FrameworkFromScratchSuite" parallel="tests">
    <test name="Chrome Local">

        <parameter name="browserName" value="CHROME"/>

        <classes>
            <class name="dev.lubomir.tests.SearchInformation"/>
        </classes>

    </test>

   <!-- <test name="Firefox Local">

        <parameter name="browserName" value="FIREFOX"/>

        <classes>
            <class name="dev.lubomir.tests.SearchInformation"/>
        </classes>

    </test>-->
</suite>